html, body{
    background-color: #fafafa;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

ul{padding: 0;}
ul li{
    list-style: none;
    display: inline;
}
#wrapper{
    
}

#projects li{
    padding: 12px;
    background-color: #333;
    color: #ccc;
    border-radius: 3px;
    margin-right: 6px;
    line-height: 3em;
    cursor: pointer;
}

#names li{
    width: 28%;
    border-radius: 3px;
    float: left;
    background-color: #333;
    color: #fff;
    text-shadow: 1px 1px 0 #000;
    margin: 6px 6px 0 0;
    padding: 12px;
}